<%= form_with model: profile, url: profile_path, data: { turbo: false } do |form| %>
  <% if profile.errors.any? %>
    <p>Something went wrong.</p>
  <% end %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
    
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div></div>
  <div></div>
  <div></div>
  <div></div>
  
  
  <div data-controller="image-preview">
    <%= image_tag(profile.avatar, class: "preview-avatar", data: { target: "image-preview.output" }) %>
    <div>
      <%= form.label :avatar %>
      <%= form.file_field :avatar, accept: 'image/png,image/jpeg', data: {target: "image-preview.input", action: "image-preview#readURL"} %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>