<%= form_with model: profile do |form| %>
  <% if profile.errors.any? %>
    <p>Something went wrong.</p>
  <% end %>

  <div class="display-name-container">
    <%= form.label :display_name, "Name", style: "font-weight: bold" %>
    <%= form.text_field :display_name, maxlength: 30, placeholder: "Name" %>
  </div>
    
  <div class="bio-container">
    <%= form.label :bio, style: "font-weight: bold" %>
    <%= form.text_area :bio, rows: 5, maxlength: 180 %>
  </div>

  <div class="company-container">
    <%= form.label :company do %>
      <span class="mdi mdi-domain"></span>
    <% end %>
    <%= form.text_field :company, maxlength: 30, placeholder: "Company" %>
  </div>

  <div class="location-container">
    <%= form.label :location do %>
      <span class="mdi mdi-map-marker"></span>
    <% end %>
    <%= form.text_field :location, maxlength: 30, placeholder: "Location" %>
  </div>
  <hr>
  <div class="profile-details-footer">
    <%= form.button "Save", class: "save-button", data: {turbo: false} %>
    <%= link_to "Cancel", user_path(username: current_user.username), class: "cancel-button" %>
  </div>
<% end %>
