<%= form_with model: profile, url: profile_path, data: { turbo: false } do |form| %>
  <% if profile.errors.any? %>
    <p>Something went wrong.</p>
  <% end %>

  <div>
    <%= form.label :display_name, "Name" %>
    <%= form.text_field :display_name %>
  </div>
    
  <div>
    <%= form.label :bio %>
    <%= form.text_field :bio %>
  </div>

  <div>
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :birthday %>
    <%= form.date_field :birthday %>
  </div>

  <hr>
  
  <div data-controller="image-preview">
    <% if profile.avatar.attached? %>
      Preview:<%= image_tag(profile.avatar, class: "preview-avatar", data: { target: "image-preview.output" }) %>
    <% else %>
      <img src='' class="preview-avatar" data-image-preview-target="output" alt='Select image to preview'>
    <% end %>
    <div>
      <%= form.label :avatar, "Change Photo" %>
      <%= form.file_field :avatar, accept: 'image/png,image/jpeg', data: {target: "image-preview.input", action: "image-preview#readImage"} %>
    </div>
  </div>
  <hr>
  <div>
    <%= form.submit %>
  </div>
<% end %>