<%= turbo_frame_tag @comment do %>
  <div class="new-comment-container">
    <%= image_tag(@avatar, class: "profile-pic comment") %>
    <%= form_with model: @comment, url: [@post, @comment], id: "#{dom_id(@comment)}_form" do |form| %>
      <%= form.text_field :body, placeholder: "Type your comment here" %>
      <% @comment.errors.full_messages_for(:body).each do |message| %>
        <span class="comment-form-validation-error-message"><%= message %></span>
      <% end %>
    <% end %>
  </div>
<% end %>