<%= turbo_stream.prepend "show-comment-region-#{@post.id}" do %>
  <div class="individual-comment-container">
    <%= image_tag current_user.avatar, class: "profile-pic comment" %>
    <div class="individual-comment-text-container">
      <span class="comment-author"><%= @comment.author.name %></span>
      <p class="comment-body"><%= @comment.body %></p>
    </div>
  </div>
<% end %>

<turbo-stream action="replace" targets="form[action='/posts/<%= @post.id %>/comments']">
  <template>
    <%= form_with model: @new_comment = @post.comments.build(author: current_user), url: [@post, @new_comment] do |form| %>
      <%= form.text_field :body, placeholder: "Type your comment here" %>
    <% end %>
  </template>
</turbo-stream>
