<%= turbo_frame_tag "new-comment-region-#{@post.id}" do %>
  <%= turbo_stream.append "new-comment-region-#{@post.id}" do %>
    <div class="new-comment-container">
      <%= image_tag(current_user.profile.avatar, class: "profile-pic comment") %>
      <%= form_with model: @comment, url: [@post, @comment] do |form| %>
        <%= form.text_field :body, placeholder: "Type your comment here" %>
      <% end %>
    </div>
  <% end %>
  <%= turbo_stream.update "show-comment-region-#{@post.id}" do %>
    <% @post_comments.order(created_at: :desc).each do |comment| %>
      <div class="individual-comment-container">
        <%= image_tag "head_avatar.jpg", class: "profile-pic comment" %>
        <div class="individual-comment-text-container">
          <p class="comment-author"><%= comment.author.username.capitalize %></p>
          <p class="comment-body"><%= comment.body %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= turbo_stream.replace "comment-button-#{@post.id}" do %>
    <%= button_to minimize_comments_path(@post), form: { id: "minimize-button-#{@post.id}" }, data: { turbo_frame: "new-comment-region-#{@post.id}" }, method: :get do %>
      <span class="mdi mdi-comment"></span>Comment
    <% end %>
  <% end %>
<% end %>
