<%= turbo_frame_tag "new-comment-region-#{@post.id}" do %>
  <%= turbo_stream.append "new-comment-region-#{@post.id}" do %>
    <div class="new-comment-container">
      <%= image_tag "black_head_avatar.png", class: "profile-pic comment" %>
      <%= form_with model: @comment, url: [@post, @comment] do |form| %>
        <%= form.text_field :body %>
      <% end %>
    </div>
  <% end %>
  <%= turbo_stream.append "show-comment-region-#{@post.id}" do %>
    <p>Show all comments here!</p>
  <% end %>
  <%= turbo_stream.replace "comment-button-#{@post.id}" do %>
    <%= button_to minimize_comments_path(@post), form: { id: "minimize-button-#{@post.id}" }, data: { turbo_frame: "new-comment-region-#{@post.id}" }, method: :get do %>
      <span class="mdi mdi-comment"></span>Comment
    <% end %>
  <% end %>
<% end %>
