<div class="edit-cover-photo-container-mobile" data-controller="cover-photo">
  <%= button_tag type: "button", class: "add-cover-photo-button", data: {action: "click->cover-photo#toggle"} do %>
    <span class="mdi mdi-camera"></span>
    <%= tag.span "Edit" unless browser.device.mobile? %>
  <% end %>
  <div class="edit-cover-photo-selection" data-cover-photo-target="menu">
    <%= form_with model: profile, data: {turbo: false} do |form| %>
      <%= form.label 'cover_photo' do %>
        <span class="mdi mdi-upload-outline"></span>Upload Photo
        <%= form.file_field 'cover_photo', onchange: "this.form.submit()" %>
      <% end %>
    <% end %>
  <% if profile.cover_photo.attached? %>
    <%= button_to profile_path, method: :delete, name: "cover_photo", value: "purge", form: {data: {turbo_confirm: "Are you sure you want to remove your cover photo?"}} do %>
      <span class="mdi mdi-delete-outline"></span>Remove
    <% end %>
  <% end %>
  </div>
</div>