<div class="profile-info">
  <%= render partial: "profiles/avatar", locals: {profile: profile} %>

  <div class="profile-info-details">
    <%= turbo_frame_tag "profile-details" do %>
      <span><%= profile.display_name %></span>
      <span><%= profile.user.username %></span>
      <span><%= profile.bio %></span>
      <span><%= profile.location %></span>
      <% if profile.user == current_user %>
        <%= link_to "Edit Profile", edit_profile_path, class: "edit-profile-button" %>
      <% end %>
    <% end %>
  </div>
</div>