<div class="profile-info">
  <%= render partial: "users/edit_cover_photo_mobile", locals: { profile: @profile } if browser.device.mobile? %>
  <%= render partial: "users/avatar", locals: {profile: profile} %>

  <div class="profile-info-details">
    <%= turbo_frame_tag "profile-details" do %>
      <% if browser.device.mobile? %>
        <% if profile.display_name.present? %>
          <%= tag.span profile.display_name, class: "display-name" %>
        <% else %>
          <%= tag.span profile.user.username, class: "username" %>
        <% end %>
      <% else %>
        <%= tag.span profile.display_name, class: "display-name" %>
        <%= tag.span profile.user.username, class: "username" %>
      <% end %>
      <%= tag.span profile.bio, class: "bio" %>

      <span class="show-company-container">
        <%= tag.span '', class: "mdi mdi-domain" %>
        <%= tag.span profile.company, class: "company" %>
      </span>
      <span class="show-location-container">
        <%= tag.span '', class: "mdi mdi-map-marker" %>
        <%= tag.span profile.location, class: "location" %>
      </span>
      <span class="show-email-container">
        <%= tag.span '', class: "mdi mdi-email" %>
        <%= tag.span profile.user.email, class: "email" %>
      </span>
      <% if profile.user == current_user %>
        <%= link_to "Edit Profile", edit_profile_path, class: "edit-profile-button" %>
      <% end %>
    <% end %>
  </div>
</div>