<div class="profile">
	<div class="cover-photo-container">
		<% if @profile.cover_photo.attached? %>
			<%= image_tag @profile.cover_photo %>
		<% else %>
			<div class="cover-photo-placeholder"></div>
		<% end %>
		<%= render partial: "users/edit_cover_photo", locals: { profile: @profile } if browser.device.mobile? %>
	</div>

	<%= render "profile", profile: @profile %>

	<div class="profile-posts">
	<% if @user == current_user && !browser.device.mobile? %>
		<%= render partial: "users/edit_cover_photo", locals: { profile: @profile } %>
	<% end %>

	<% if false %>
	
	<% if @user == current_user %>
		<%= render "posts/new_post_placeholder" %>
	<% end %>
	<%= turbo_frame_tag "posts" do %>
		<% if @posts.empty? && @user != current_user %>
			<div class="post-container empty">No posts to show.</div>
		<% end %>
		<% @posts.each do |post| %>
			<%= render partial: "posts/post", locals: { post: post, likes: post.likes.includes(:user) }%>
		<% end %>
	<% end %>
	</div>

	<% end %>
</div>
