<div class="profile">
	<div class="cover-photo-container">
		<% if @profile.cover_photo.attached? %>
			<%= image_tag @profile.cover_photo %>
		<% else %>
			<div class="cover-photo-placeholder"></div>
		<% end %>
	</div>

	<%= render "profile", profile: @profile %>

	<div class="profile-posts">

		<div class="edit-cover-photo-container" data-controller="cover-photo">
			<%= button_tag type: "button", class: "add-cover-photo-button", data: {action: "click->cover-photo#toggle"} do %>
				<span class="mdi mdi-camera"></span><span>Edit</span>
			<% end %>
			<div class="edit-cover-photo-selection" data-cover-photo-target="menu">
				<div><span class="mdi mdi-upload-outline"></span>Upload Photo</div>
				<div><span class="mdi mdi-delete-outline"></span>Remove</div>
			</div>
		</div>


		<% if @user == current_user %>
			<%= render "posts/new_post_placeholder" %>
		<% end %>
		<% @posts.each do |post| %>
			<%= render partial: "posts/post", locals: { post: post, likes: post.likes.includes(:user) }%>
		<% end %>
	</div>
</div>
