<header>

  <div class="logo-container">
    <%= link_to "Odinbook", root_path, class: "logo" %>
  </div>

  <div>
    <%= link_to tag.span(class: "mdi mdi-account"), "/#{current_user.username}", title: "Profile", class: "profile-link" %>
    <div data-controller="menu">
      <%= render partial: "shared/notification", locals: {unread_count: @unread_count, notifications: @notifications} %>
    </div>
    <%= link_to menu_path, class: 'menu-link' do %>
      <span class="mdi mdi-menu"></span>
    <% end %>
  </div>

</header>

<nav class="topnav">
  <ul>
    <li>
    <% if current_page?(root_path) %>
      <%= link_to tag.span(class: "mdi mdi-home"), root_path, title: "Home", class: "active" %>
    <% else %>
      <%= link_to tag.span(class: "mdi mdi-home-outline"), root_path, title: "Home" %>
    <% end %>
    </li>
    <li>
    <% if current_page?("/#{current_user.username}") %>
        <%= link_to tag.span(class: "mdi mdi-account"), "/#{current_user.username}", title: "Profile", class: "active" %>
    <% else %>
      <%= link_to tag.span(class: "mdi mdi-account-outline"), "/#{current_user.username}", title: "Profile" %>
    <% end %>
    </li>
    <li>
    <% if current_page?(friends_path) %>
      <%= link_to tag.span(class: "mdi mdi-account-multiple"), friends_path, title: "Friends", class: "active" %>
    <% else %>
      <%= link_to tag.span(class: "mdi mdi-account-multiple-outline"), friends_path, title: "Friends" %>
    <% end %>
    </li>
    <li>
      <% if current_page?(friend_requests_path) %>
        <%= link_to tag.span(class: "mdi mdi-account-arrow-right"), friend_requests_path, title: "Friend Request", class: "active" %>
      <% else %>
        <%= link_to tag.span(class: "mdi mdi-account-arrow-right-outline"), friend_requests_path, title: "Friend Request" %>
      <% end %>  
    </li>
    <li>
    <% if current_page?(users_path) %>
      <%= link_to tag.span(class: "mdi mdi-account-group"), users_path, title: "All Users", class: "active" %>
    <% else %>
      <%= link_to tag.span(class: "mdi mdi-account-group-outline"), users_path, title: "All Users" %>
    <% end %>
    </li>
  </ul>
</nav>