<%= tag.div class: "friends-page-sidebar" do %>

  <%= link_to friends_path, class: ("active" if current_page?(controller: 'friendships', action: 'index')) do %>
    <div class="icon-container">
      <span class="mdi mdi-account-multiple"></span>
    </div>
    Friends
  <% end %>

  <%= link_to friend_requests_path, class: ("active" if current_page?(controller: 'friend_requests', action: 'index')) do %>
    <div class="icon-container">
      <span class="mdi mdi-account-arrow-right"></span>
    </div>
    Friend Requests
  <% end %>

  <%= link_to users_path, class: ("active" if current_page?(controller: 'users', action: 'index')) do %>
    <div class="icon-container">
      <span class="mdi mdi-account-group"></span>
    </div>
    All Users
  <% end %>
  
  <%= button_to destroy_user_session_path, method: :delete, class: "logout", form: {  data: { turbo: :false } } do %>
    <div class="icon-container"><span class="mdi mdi-logout"></span></div>Log Out
  <% end %>
  
  <%= button_to user_registration_path, data: { turbo: false }, method: :delete, class: "delete-account", onclick: "if (!window.confirm('Are you sure you want to delete your account?')) event.preventDefault()" do %>
    <span class="mdi mdi-account-remove"></span>Delete Account
  <% end %>
<% end %>