<div data-modal-target="modalcontainer"  id="add-image-modal" data-action="mousedown->modal#addClickAction">
  <div class="modal-content" data-modal-target="modaldialog" data-action="mousedown->modal#stopPropagation mouseover->modal#removeClickAction" >
    <div class="modal-top">
      <h3 class="modal-title">Attach Image</h3>
      <span class="mdi mdi-close modal" data-action="click->modal#close"></span>
    </div>
    <hr>
    <%= form_with model: post do |form| %>
      <div>
        <%= form.radio_button :choose_image, "url", 'data-action' => 'modal#disableFileImage' %>
        <%= form.label :choose_image_url, 'Image URL' %>
        <%= form.text_field :image_url, size: '40', 'data-modal-target' => 'input' %>
      </div>
      <br>
      <div>
        <div>
          <%= form.radio_button :choose_image, "file", 'data-action' => 'modal#disableImageURL' %>
          <%= form.label :choose_image_file, 'Select from file' %>
        </div>
        <div class="file-field-row">
          <%= form.label :image_file, "Choose File", 'data-modal-target' => 'labelButton' %>
          <%= form.file_field :image_file, accept: 'image/png,image/jpeg', 'data-modal-target' => 'filefrompc', 'data-action' => 'modal#showFilename' %>
          <span data-modal-target="filename"></span>
        </div>
      </div>

      <div>
        <%= form.button "Choose Image", data: { action: "modal#copy" } %>
      </div>
    <% end %>
  </div>
</div>
