<div data-modal-target="modalcontainer" data-image-preview-target="modalContainer" id="add-image-modal">
  <div class="modal-content" data-modal-target="modaldialog">
    <div class="modal-top">
      <h3 class="modal-title">Attach Image</h3>
      <span class="mdi mdi-close modal" data-action="click->modal#close"></span>
    </div>
    <hr>
    <%= form_with model: post do |form| %>
      <div class="modal-middle">
        <div class="modal-selection-container">
          <div class="modal-radio-labels">
            <%= form.radio_button :choose_image, "url", 'data-action' => 'modal#disableFileImage', 'data-modal-target' => 'imageURLRadioButton' %>
            <%= form.label :choose_image_url, 'Image URL' %>
          </div>
          <%= form.text_field :image_url, onkeydown: "return event.keyCode != 13;", 'data-action' => 'modal#clearImagePreviewContainer', 'data-modal-target' => 'imageUrl', disabled: true %>
        </div>
        <div class="modal-selection-container">
          <div class="modal-radio-labels">
            <%= form.radio_button :choose_image, "file", 'data-action' => 'modal#disableImageURL', 'data-modal-target' => 'imageFileRadioButton', 'data-image-preview-target' => 'imageFileRadioButton' %>
            <%= form.label :choose_image_file, 'Select from file' %>
          </div>
          <div class="file-field-row">
            <%= form.label :ximage_file, "Choose File", 'data-modal-target' => 'labelButton' %>
            <%= form.file_field :image_file, accept: 'image/png,image/jpeg', 'data-modal-target' => 'filefrompc', 'data-image-preview-target' => 'filefrompc', 'data-action' => 'change->modal#showCropper', disabled: true %>
          </div>
          <div class="image-preview-container" data-modal-target="imagePreviewContainer" data-image-preview-target="imagePreviewContainer"></div>
        </div>
      </div>
      <hr>
      <div class="modal-footer" data-modal-target="modalFooter" data-image-preview-target="modalFooter">
        <%= form.button "Select Image", 'data-modal-target' => 'submitBtn', 'data-image-preview-target' => 'submitBtn', onClick: "event.preventDefault();" %>
        <%= button_tag "Cancel", name: "cancel", type: "button", data: {action: 'modal#close'} %>
      </div>
    <% end %>
  </div>
</div>
