<%= form_with model: post, data: { controller: 'modal' } do |form| %>
  <%= form.text_area :body, placeholder: "What's on your mind?", required: true %>
  <% post.errors.full_messages_for(:body).each do |message| %>
    <div class="error-messages"><%= message %></div>
  <% end %>
  <div class="new-post-buttons-container">
    <%= link_to root_path, class: "attach-image-link", data: { action: "modal#show" } do %>
      <span class="mdi mdi-image"></span> Attach image
    <% end %>
    <%= form.submit "Post" %>
  </div>
  <%= render "attach_image" %>
<% end %>
  