<%= form_with model: post, data: { controller: 'modal' } do |form| %>
  <%= form.text_area :body, placeholder: "What's on your mind?", required: true %>
  <% post.errors.full_messages_for(:body).each do |message| %>
    <div class="error-messages"><%= message %></div>
  <% end %>
  <div class="image-preview" data-modal-target="output">
  <div class="overlay">
    <span class="mdi mdi-close" data-action="click->modal#undoImageAttachment"></span>
  </div>
  </div>
  <%= form.hidden_field :image_url, 'data-modal-target' => 'hiddenURLField' %>
  <%= form.hidden_field :image_data_url, 'data-modal-target' => 'hiddenDataURLField' %>
  <div class="new-post-buttons-container">
    <span class="attach-image-link" data-action="click->modal#show" data-modal-target="showModalLink">
      <span class="mdi mdi-image"></span> Attach image
    </span>
    <%= form.submit "Post" %>
  </div>
  <%= render "attach_image", post: @post %>
<% end %>
  