<div class="post-container published">
  <div class="post-author-container">
    <%= image_tag "black_head_avatar.png", class: "profile-pic-icon" %>
    <div class="user-info">
      <p class="user-info-name"><%= post.author.username.capitalize %></p>
      <p class="user-info-date"><%= post.created_at.in_time_zone('Tokyo').strftime("%l:%M %p - %b %d, %Y") %></p>
    </div>
  </div>
  <hr>
  <p><%= post.body %></p>
  <hr>
  <%= turbo_frame_tag "post-likes-#{post.id}" do %>
    <%= render "like_count_line", like_count: post.likes.count %>
  <% end %>
  <hr>
  <div class="post-buttons" id="post-buttons-<%= post.id %>">
    <%= button_to "Like", likes_path, params: { id: post }, form: { id: "like-button-#{post.id}" } %>
    <%= turbo_frame_tag "new-comment-button-#{post.id}" do %>
      <%= link_to "Comment", new_comment_path(post_id: post), id: "link-comment-expand-#{post.id}" %>
    <% end %>
  </div>
</div>