<div class="post-container published">
  <div class="post-author-container">
    <%= image_tag "black_head_avatar.png", class: "profile-pic-icon" %>
    <div class="user-info">
      <p class="user-info-name"><%= post.author.name.capitalize %></p>
      <p class="user-info-date"><%= post.created_at.in_time_zone('Tokyo').strftime("%l:%M %p - %b %d, %Y") %></p>
    </div>
  </div>
  <hr>
  <p><%= post.body %></p>
  <hr>
  <%= turbo_frame_tag "post-likes-#{post.id}" do %>
    <%= render "like_count_line", like_count: post.likes.count %>
  <% end %>
  <hr>
  <div class="post-buttons">
    <% if likes.none? { |like| like.user == current_user } %>
      <%= button_to likes_path, params: { id: post }, form: { id: "like-button-#{post.id}" } do %>
        <span class="mdi mdi-thumb-up-outline"></span>Like
      <% end %>
    <% else %>
      <%= button_to like_path(id: likes.where(user_id: current_user.id).first), method: :delete, params: { post_id: post.id, like_id: likes.where(user_id: current_user.id).first.id }, form: { id: "like-button-liked-#{post.id}" } do %>
        <span class="mdi mdi-thumb-up"></span>Like
      <% end %>
    <% end %>
    <%= button_to new_post_comment_path(post), form: { id: "comment-button-#{post.id}" }, data: { turbo_frame: "new-comment-region-#{post.id}" }, method: :get do %>
      <span class="mdi mdi-comment-outline"></span>Comment
    <% end %>
  </div>
  <%= turbo_frame_tag "new-comment-region-#{post.id}" %>
  <%= turbo_frame_tag "show-comment-region-#{post.id}" %>
</div>