<%= tag.div class: "post-container published", data: {controller: "comments"}, id: dom_id(post) do %>

  <div class="post-author-container">
    <%= image_tag post.author.avatar, class: "profile-pic-icon" %>
    <div class="user-info">
      <p class="user-info-name"><%= post.author.name %></p>
      <p class="user-info-date"><%= post.created_at.in_time_zone('Tokyo').strftime("%l:%M %p - %b %d, %Y") %></p>
    </div>
    <%= render partial: "options", locals: {post: post}%>
  </div>

  <p class="post-body-text"><%= post.body %></p>

  <% if post.image.attached? %>
    <%= link_to image_tag(post.image, class: 'post-image'), post.image, data: { turbo_action: 'advance' } %>
  <% end %>

  <hr>
  <%= tag.div class: "counts-container" do %>
    <%= turbo_frame_tag "post-likes-#{post.id}" do %>
      <%= render "posts/like_count_line", like_count: post.likes.count %>
    <% end %>
  <% end %>

  <hr>

  <div class="post-buttons">
    <% if likes.none? { |like| like.user == current_user } %>
      <%= button_to likes_path, params: { id: post }, form: { id: "like-button-#{post.id}" } do %>
        <span class="mdi mdi-thumb-up-outline"></span>Like
      <% end %>
    <% else %>
      <%= button_to like_path(id: likes.where(user_id: current_user.id).first), method: :delete, params: { post_id: post.id, like_id: likes.where(user_id: current_user.id).first.id }, form: { id: "like-button-liked-#{post.id}" } do %>
        <span class="mdi mdi-thumb-up"></span>Like
      <% end %>
    <% end %>
    <%= tag.div class: "comment-button", 'data-postid' => post.id, 'data-comments-target' => 'commentsButton' do %>
      <span class="mdi mdi-comment-outline"></span>Comment
    <% end %>
  </div>
<% end %>