<div class="main-homepage">

  <%= render "sidebar" unless browser.device.mobile? %>

  <div class="main-homepage-center">
    <%= render "posts/new_post_placeholder" %>
    
    <%= turbo_frame_tag "posts" do %>
      <% @timeline_posts.each do |post| %>
        <%= render partial: "post", locals: { post: post, likes: post.likes.includes(:user) }%>
      <% end %>
    <% end %>
  </div>

  <% unless browser.device.mobile? %>
    <div class="main-homepage-right">
      <%= render partial: "posts/headlines", locals: {headlines: @headlines} %>
    </div>
  <% end %>

</div>
