<h1>Timeline</h1>


<%= turbo_frame_tag "new_post_frame" do %>
  <div class="post-container">
    <%= image_tag "black_head_avatar.png", class: "profile-pic-icon" %>
    <a href="posts/new" class="post-text-placeholder">What's on your mind, <%= current_user.username.capitalize %>?</a>
  </div>
<% end %>

<% @posts.each do |post| %>
  <div class="post-container">
    <h3><%= post.author.username.capitalize %></h3>
    <p><%= post.body %></p>
  </div>
<% end %>