<header>
  <nav class="topnav">
    <div class="topnav-left"><span>O</span></div>
    <%# <a href="https://www.flaticon.com/free-icons/alphabet" title="alphabet icons">Alphabet icons created by Freepik - Flaticon</a> %>
    <ul>
      <li>
      <% if current_page?(root_path) %>
        <%= link_to tag.span(class: "mdi mdi-home"), root_path, title: "Home" %>
      <% else %>
        <%= link_to tag.span(class: "mdi mdi-home-outline"), root_path, title: "Home" %>
      <% end %>
      </li>
      <li>
      <% if current_page?("/#{current_user.username}") %>
         <%= link_to tag.span(class: "mdi mdi-account"), "/#{current_user.username}", title: "Profile" %>
      <% else %>
        <%= link_to tag.span(class: "mdi mdi-account-outline"), "/#{current_user.username}", title: "Profile" %>
      <% end %>
      </li>
      <li>
      <% if current_page?(friends_path) %>
        <%= link_to tag.span(class: "mdi mdi-account-multiple"), friends_path, title: "Friends" %>
      <% else %>
        <%= link_to tag.span(class: "mdi mdi-account-multiple-outline"), friends_path, title: "Friends" %>
      <% end %>
      </li>
      <li>
      <% if current_page?(users_path) %>
        <%= link_to tag.span(class: "mdi mdi-account-group"), users_path, title: "All Users" %>
      <% else %>
        <%= link_to tag.span(class: "mdi mdi-account-group-outline"), users_path, title: "All Users" %>
      <% end %>
      </li>
    </ul>
    <div class="topnav-right">
      <div class="notification">
        <a href="/friends" title="Notifications">
          <span class="mdi mdi-bell"></span>
          <% if @count > 0 %>
            <span class="notification-badge"><%= @count %></span>
          <% end %>
        </a>
      </div>
      <%# button_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo: false }, form: { style: "display: inline-block"} %>
      <%= image_tag current_user.avatar, class: "profile-pic-icon", title: "Account" %>
    </div>
  </nav>
</header>