<header>
  <nav class="topnav">
    <div class="topnav-left">Placeholder</div>
    <ul>
      <li>
        <%= link_to tag.span(class: "mdi mdi-home-outline"), root_path, title: "Home" %>
      </li>
      <li>
        <%= link_to tag.span(class: "mdi mdi-account-outline"), "/#{current_user.username}", title: "Profile" %>
      </li>
      <li>
        <%= link_to tag.span(class: "mdi mdi-account-multiple-outline"), friends_path, title: "Friends" %>
      </li>
      <li>
        <%= link_to tag.span(class: "mdi mdi-account-group-outline"), users_path, title: "All Users" %>
      </li>
    </ul>
    <div class="topnav-right">
      <div class="notification">
        <a href="/friends" title="Notifications">
          <span class="mdi mdi-bell"></span>
          <% if @count > 0 %>
            <span class="notification-badge"><%= @count %></span>
          <% end %>
        </a>
      </div>
      <%# button_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo: false }, form: { style: "display: inline-block"} %>
      <%= image_tag current_user.avatar, class: "profile-pic-icon", title: "Account" %>
    </div>
  </nav>
</header>