<header>
  <nav class="topnav">
    <ul>
      <li>
        <%= link_to tag.span(class: "mdi mdi-home"), root_path %>
      </li>
      <li>
        <%= link_to tag.span(class: "mdi mdi-account"), "/#{current_user.username}" %>
      </li>
      <li>
        <%= link_to tag.span(class: "mdi mdi-account-multiple"), friends_path %>
      </li>
      <li>
        <%= link_to tag.span(class: "mdi mdi-account-group"), users_path %>
      </li>
    </ul>
    <div class="topnav-right">
      <div class="notification">
        <a href="/friends">
          <span class="mdi mdi-bell"></span>
          <% if @count > 0 %>
            <span class="notification-badge"><%= @count %></span>
          <% end %>
        </a>
      </div>
      <%= button_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo: false }, form: { style: "display: inline-block"} %>
    </div>
  </nav>
</header>