<!DOCTYPE html>
<html>
  <head>
    <title>Odin-Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.6.96/css/materialdesignicons.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="body">
    <% if flash.any? %>
      <%= render "shared/flash" %>
    <% end %>
    <% if user_signed_in? %>
      <%= render "shared/header" %>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
